@media (min-width: 992px){

    .contact-content .heading{
       padding: 0;
    }
    .heading h4{
        padding: 40px 0;
        margin: 0;
    }
    #logo{
        width: 300px;
    }
    .nash-contakt{
        width: 80%;
    }
    .contact-content .more-info{
        margin: 0; 
    }
    .about-content, .about-content .heading, .townhouse .about-content, .townhouse .about-content .heading{
      padding-top: 5%;
    }
    .cak_doehat{
        width: 50%;
    }
    .nash_contakt_list{
        width: 50%;
    }.nash-contakt{
        width: 100%;
    }
    .contact-content{
        height: 100vh;
        min-height: 100%;
    }
    .more-info{
        height: auto;
    }   
    .projects .projects--line .projects--line_status{
        padding-left: 10px;
    }
    .projects .projects--line{
        align-items: flex-start;
    }
}
/*
========================================
---------- Адаптация на планшет ------------
========================================
*/

@media  all
  and (min-device-width: 640px)
  and (max-device-width: 992px) {

    .panel{
        width: 100vw;
        height: auto;
    }
    .container{
        width: 100vw;
        padding: 0;
    }
    .about-content{
        padding: 0;
    }
    #logo{
        width: 250px;
        padding-top: 20px;
    }
    .burger{
        height: 13vh;
    }
    .burger{
        padding: 20px;
    }
    .projects .projects--line{
        padding: 20px;
    }
    .projects .projects--line .projects--line_name p.name{
        padding-bottom: 20px;
    }
    .about-content .about-box-text{
        padding: 0 12px;
    }
    .about-content .about-box-text h4{
        margin-bottom: 0;
        text-align: center;
        display: block;
        font-weight: bold;
        padding-top: 10px;
    }
    .contact-content .heading{
        padding-top: 5%;
    }
    .contact-content .contat-form{
        padding: 30px;
        margin: 0;
        width: 100%;
    }
    .contact-content .more-info{
        padding: 50px 30px;
        position: absolute;
        left: 0%;
        right: 25%;
        top: 25%;
        margin: 0;
        width: 100%;
    }
    .projects .projects--line .projects--line_status{
        text-align: left;
        padding-left: 10px;
    }
    .nash_contakt_list{
        padding: 0;
    }
}
/* 
========================================
-------!!!!mobile adaptation!!!!--------
========================================
 */
 @media (max-width: 640px) {

    /* Навигация */
    .nav{
        width: 50px;
    }
    .nav__list{
        height: 90vh;
    }
    .nav__item p{
        font-size: 10px;
    }

    /* Секции */
    
    #slider ul li{
        display: block;
        margin-left: 5px;
        margin-right: auto
    }
    .about-box-content #slider{
        width: 100vw;
    }
    .row{
        text-align: center;
        padding: 0px 0px;
    }
    .about-content{
    padding: 0;
    }
    #logo{
        width: 150px;
        margin: 11px auto 11px auto;
    }
    #slider{
        margin: 0;
    }
    
    .about-content .col-md-12 .about-box-text h4 {
        margin-bottom: 0;
    }
    .col-md-12 .about-box-text{
        margin-top: 0;
        background-color: #fff;
        padding-bottom: 0;
    }

    .projects .projects--line{
        flex-direction: column;
        padding: 10px 0px;

    }
    .projects--line_name{
        padding: 15px 0px;
    }
    .name {
        padding-top: 15px;
        font-size: 20px;
    }
    .projects .projects--line .projects--line_name .name_text{
        width: 90vw;
        padding: 30px 0px;
    }
    .contat-form{
        padding: 30px;
        margin: 0;
        text-align: center;
    }
    .contact-content .contat-form {
        background-color: rgba(250, 250, 250, 0.03);
        padding: 20px;
        margin-right: 0px;
    }
    .container{
        padding: 0;
    }
    .projects .projects--line .projects--line_status{
        padding-left: 10px;
    }

    .contact-content .heading {
        padding-top: 15%;
    } 

    .contact-content .more-info {
        padding: 30px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        margin-bottom: 60px;
    }
    .contact-content {
        height: auto;
        width: 100vw;
        padding: 0px 30px;
    }


    /* Бургер */


    .burger{
        height: 10vh;
    }
    .burger__patty {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    .burger--active .burger__patty{
        -webkit-transform: scale(0.8) rotate(90deg);
        transform: scale(0.8) rotate(90deg);
    }
    .projects .projects--line .projects--line_status  {
         padding-top: 10px;
    }
    .location_link{
        display: none;
    }
   
}
